
{% extends 'base.html' %}


{% block content %}

<h1 class="p-4" >Update Profile</h1>



<form method="post" action="{% url 'updateprofile_resume' %}" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="container">
    <h5 class="">Update profile automatically by uploading your Resume: </h5>

      <div class=" row">
        <div class="pb-2 input-group col ">
            <input
              type="file"
              name="pdf_files"
              class="form-control"
              id="pdf_files"
              aria-describedby="inputGroupFileAddon04"
              multiple
              required
              aria-label="Upload" />
          </div>

        
          <div class="pb-2 col">
            <button class="btn  btn-outline-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
          </div>
      </div>
</div>
  
</form>




<div class="row p-4">
  <h5 >Update profile mannually: </h5>
<div class="col-xxxl ">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Work Experience</h5>
      </div>
      <div class="card-body">
        <form action="{% url 'updateworkexp' %}" method="post">
          {% csrf_token %}
          
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="company">Company</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                <input type="text" id="company" name="company" class="form-control" placeholder="ACME Inc." aria-describedby="basic-icon-default-company2" />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="position">Position</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                <input type="text" id="position" name="position" class="form-control" placeholder="Software Developer, etc." aria-describedby="basic-icon-default-email2" />
              </div>
              <div class="form-text">You can use letters, numbers & periods</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="start_date" class="col-md-2 col-form-label">Start Date</label>
            <div class="col-md-10">
              <input type="date" id="start_date" name="start_date" class="form-control" value="" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="end_date" class="col-md-2 col-form-label">End Date</label>
            <div class="col-md-10">
              <input type="date" id="end_date" name="end_date" class="form-control" value="" />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 form-label" for="brief">Brief</label>
            <div class="col-sm-10">
              <textarea id="brief" name="brief" class="form-control" placeholder="A short description about your company"></textarea>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>





  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Education</h5>
      </div>
      <div class="card-body">
        <form action="{% url 'updateeducation' %}" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="institution">Institution</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-institution2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                <input type="text" id="institution" name="institution" class="form-control" placeholder="College Name" aria-describedby="basic-icon-default-institution2" />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="degree">Degree</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                <input type="text" id="degree" name="degree" class="form-control" placeholder="Course Name" aria-describedby="basic-icon-default-degree2" />
              </div>
              <div class="form-text">You can use letters, numbers & periods</div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="start_date" class="col-md-2 col-form-label">Start Date</label>
            <div class="col-md-10">
              <input type="month" id="start_date" name="start_date" class="form-control" placeholder="Eg. 2021-06" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="end_date" class="col-md-2 col-form-label">End Date</label>
            <div class="col-md-10">
              <input type="month" id="end_date" name="end_date" class="form-control" placeholder="Eg. 2021-06" />
            </div>
          </div>
          
          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  




  <div class="col-xxl ">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Skills</h5>
      </div>
      <div class="card-body">
        <form action="{% url 'updateskills' %}" method="post">
          {% csrf_token %}
          
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="skills">Known Skills</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-skills2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                <input type="text" id="skills" name="skills" class="form-control" placeholder="Python, JavaScript, etc." aria-describedby="basic-icon-default-skills2" />
              </div>
            </div>
          </div>
         
          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>




  

</div>
<div class="ps-4" > <h5  >Update Career Information: </h5></div>

<div class="row p-4">
  
<div class="col-xxxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Additional Information</h5>
    </div>
    <div class="card-body">
      <form action="{% url 'updatecareerinfo' %}" method="post">
        {% csrf_token %}
        
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="current_year">Current Year of Engineering</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-current_year2" class="input-group-text"><i class="bx bx-calendar"></i></span>
              <input type="text" id="current_year" name="current_year" class="form-control" placeholder="Eg. Third Year" aria-describedby="basic-icon-default-current_year2" />
            </div>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="dream_role">Dream Role</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="bx bx-rocket"></i></span>
              <input type="text" id="dream_role" name="dream_role" class="form-control" placeholder="Eg. Software Engineer" aria-describedby="basic-icon-default-dream_role2" />
            </div>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="linkedin">LinkedIn Link</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="bx bxl-linkedin"></i></span>
              <input type="url" id="linkedin" name="linkedin" class="form-control" placeholder="https://www.linkedin.com/in/username" aria-describedby="basic-icon-default-linkedin2" />
            </div>
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="github">GitHub Link</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="bx bxl-github"></i></span>
              <input type="url" id="github" name="github" class="form-control" placeholder="https://github.com/username" aria-describedby="basic-icon-default-github2" />
            </div>
          </div>
        </div>
        
        <div class="row justify-content-end">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<!-- <div id="toast" class=" p-4 fixed-bottom  container d-flex justify-content-end  ">
  <div
    class=" bs-toast toast fade show bg-success hidden"
    role="alert"
    aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-medium">Profile Updated Successfully</div>

      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
     <a href="{% url 'profile' %}"><button class="btn  btn-info ">View Profile</button></a>
    </div>
  </div>
  </div> -->




{% endblock content %}

